version: "3.9"

services:
  db:
    image: postgres:15
    container_name: jobstream-db-new
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - jobstream-data-new:/var/lib/postgresql/data

  backend:
    build:
    container_name: spring-jobstream-new
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./uploads:/uploads

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-new
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8082:80"
    depends_on:
      - db

volumes:
  jobstream-data-new:
